body{
  text-align:center;
   background-color:#4CAF50;
}
#off{
  width:200px;
 border-style:ridge;
  border-width:10px;
  border-color:#FF8F00;
}
button{
  border-style:ridge;
  border-width:3px;
  border-color:#FF8F00;
  background-color:#76FF03;
  width:150px;
  color:#DD2C00;
}